# Python For Data Analyst

In [3]:
print('Hello World')

Hello World

In [35]:
a= 5
b ='Hello World'
type(b)

str

In [17]:
a = 10
b= 5
sum = a+b
Diff = a-b
print(f"sum is {sum}")
print(f"Difference is {Diff}")

sum is 15
Difference is 5

In [24]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))
sum = a+b
Diff = a-b
print(f"Sum is {sum}")
print(f"Difference is {Diff}")

Enter value of a: 6
Enter value of b: 4
Sum is 10
Difference is 2

# Variables and Types

In [23]:
a = 10
b = 4.5
c= 'Hello World'
d = 3+2j
e = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [45]:
a = 2.4
b = 4
c = 3+2j
d = 2-1j
e = True

sum = a+b
add = c+d

print(f"Sum is {sum}")
print(f"Addition is {add}")
print(type(a))
print(type(b))
print(e)
print(type(c))
print(type(e))

name = input("Enter your name: ")
print(f"Hello {name}!")

Sum is 6.4
Addition is (5+1j)
<class 'float'>
<class 'int'>
True
<class 'complex'>
<class 'bool'>
Enter your name: Aayush Basnet
Hello Aayush Basnet!

In [ ]:
 x= 'Hello world'
    
print(x)
type(x)

In [33]:
x,y,z = 'Apple','Ball','Cat'
print(x)
print(y)
print(z)

Apple
Ball
Cat

In [34]:
x,y,x = 'Apple','Ball','Cat'
print(x)
print(y)

Cat
Ball

In [12]:
x = 'My name is '+'Aayush Basnet.'
print(x)

My name is Aayush Basnet.

In [11]:
x = 'My name '
y = 'is '
z = 'Aayush Basnet.'
print(x+y+z)

My name is Aayush Basnet.

In [13]:
A = 'Data Analyst'
B = 200000
print(A,B)

Data Analyst 200000

# Lists

In [50]:
# Lists []
days = ['Sunday','Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday']
print(days)
days[0] = 'Sunny Day'
print(days[3])
print(days[0])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday']
Wednesday
Sunny Day

In [56]:
A,B,C,D,E,F,G = days
A = 'Sunday'
print(A)
print(B)
print(C)
print(D)
print(E)
print(F)
print(G)

Sunday
Monday
Tuesday
Wednesday
Thrusday
Friday
Saturday

In [8]:
a= 'Aayush'
print(a)
print(a[0:])
print(a[1:4])
print(a[:4])
print(a[-1])
print(a[-4])

Aayush
Aayush
ayu
Aayu
h
y

In [57]:
Alpha =['Apple','Ball','Cat']
Alpha.append('Dog')
Alpha.remove('Ball')
print(Alpha)

['Apple', 'Cat', 'Dog']

In [60]:
nested_list = ['Apple',2,['Ball','Ballon'], 'Cat', True]
print(nested_list)

['Apple', 2, ['Ball', 'Ballon'], 'Cat', True]

In [63]:
nested_list[2][1]

'Ballon'

In [8]:
#tuple ()
tuple_data = (1,2,4,4,5)
type(tuple_data)

tuple

In [9]:
tuple_data[2]

4

In [10]:
print(tuple_data)

(1, 2, 4, 4, 5)

In [11]:
tuple_data.append[2] = 9

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
# sets {}
sets = {1,3,4,5}
type(sets)

set

In [13]:
sets = {1,3,5,3,2,5,6,19,30}
print(sets)

{1, 2, 3, 19, 5, 6, 30}

In [15]:
sets_type_2 = {10,34,2,45,1,0,9,3}

In [16]:
# provides unique value from two set
print(sets | sets_type_2)

{0, 1, 2, 3, 34, 5, 6, 9, 10, 45, 19, 30}

In [17]:
# provide what matches between two set
print(sets & sets_type_2)

{1, 2, 3}

In [18]:
# provide what don't match from first set
print(sets - sets_type_2)

{19, 5, 6, 30}

In [19]:
# value either in first set or second set that doesnot match
print(sets ^ sets_type_2)

{0, 34, 5, 6, 9, 10, 45, 19, 30}

# Data Types

In [14]:
type(10-45+90)

int

In [15]:
type(4.5+6+4.9)

float

In [16]:
type(3+2j)

complex

In [22]:
type(1==3)

bool

In [29]:
# Strings
# Single quote, double quote, triple quote
'Hello World',"Hello World",

('Hello World', 'Hello World')

In [41]:
#Triple quote
"""
This is python basic
Hello World
Variables, Data Type and List
Jupter NootBook
"""

'\nThis is python basic\nHello World\nVariables, Data Type and List\nJupter NootBook\n'

In [48]:
""" I'm always reading "books" """

' I\'m always reading "books" '

In [41]:
a= 'Aayush'
a*3

'AayushAayushAayush'

In [51]:
a+a

'AayushAayush'

In [24]:
#dictionaries {'Key': value}
# Key: value pair
dictionary = {'Name': 'Aayush Basnet', 'Age': 20, 'Place':['Kathmandu','Nepal']}
print(dictionary)

{'Name': 'Aayush Basnet', 'Age': 20, 'Place': ['Kathmandu', 'Nepal']}

In [23]:
type(dictionary)

dict

In [28]:
dictionary.values()

dict_values(['Aayush Basnet', 20, ['Kathmandu', 'Nepal']])

In [30]:
dictionary.keys()

dict_keys(['Name', 'Age', 'Place'])

In [31]:
dictionary.items()

dict_items([('Name', 'Aayush Basnet'), ('Age', 20), ('Place', ['Kathmandu', 'Nepal'])])

In [35]:
dictionary['Name']

'Aayush Basnet'

In [36]:
dictionary['Name'] = 'Robert Handson'
print(dictionary)

{'Name': 'Robert Handson', 'Age': 20, 'Place': ['Kathmandu', 'Nepal']}

In [39]:
dictionary.update({'Name': 'Robert Handson', 'Date of Birth': 2003-6-3, 'Country': 'Nepal'})
print(dictionary)

{'Name': 'Robert Handson', 'Age': 20, 'Place': ['Kathmandu', 'Nepal'], 'Country': 'Nepal', 'Date of Birth': 1994}

In [40]:
del dictionary['Date of Birth']
print(dictionary)

{'Name': 'Robert Handson', 'Age': 20, 'Place': ['Kathmandu', 'Nepal'], 'Country': 'Nepal'}

In [29]:
dictionary.values(1)

TypeError: dict.values() takes no arguments (1 given)