# Operation in Python

# -Comparsion Operators

In [1]:
5=5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2359669884.py, line 1)

In [3]:
5==5
5==10

False

In [9]:
'Aayush' == 'Basnet'
'Aayush'== 'Aayush'

True

In [10]:
A = 'Apple'
B = 'Ball'
A ==B

False

In [11]:
5<10

True

In [13]:
10<=10
5>=6

False

In [19]:
#Alphabetical order
# B = 2 and a = 1. so B>1. therefore True
'Aayush'>'Basnet'
'Basnet'>'Aayush'

True

# -Logical Operators

In [15]:
5>3 and 4==4

True

In [17]:
'Aayush' == 'Basnet' or 10>7

True

In [20]:
not(10>5)

False

# -Membership Operators

In [21]:
books = 'I love reading books'
'love' in books

True

In [23]:
books = 'I love reading books'
'hate'not in books

True

In [28]:
lists = [2,3,4,5,6,7]
lists.append(8)
8 in lists

True

# Conditions

In [ ]:
# If-Elif-Else Statememt

In [2]:
if 23 > 10:
    print('True')

True

In [1]:
if 23 > 40:
    print('Greater')
elif 23 < 40:
    print('Less')
else:
    print('Equal')

Less

In [39]:
#ternary operator
print('It worked') if 20<50 else print('It did not work.....')

It worked

In [15]:
n = int(input('Enter a number: '))
print('Positive Number') if n>=0 else print('Negative Number')

Enter a number: -09
Negative Number

In [8]:
a = int(input('Enter any number: '))
if (a>10) and (a<=50):
    print('It worked')
    if(a==50):
        print('a is equal than 50')
       
elif(a<10 and a<50):
    print('a is less than 10')
else:
    print('Not in range')

Enter any number: 50
It worked
a is equal than 50

In [11]:
# odd or Even number
num = int(input('Enter number: '))
if(num%2==0):
    print('Even Number')
else:
    print('Odd Number')

Enter number: 45
Odd Number

In [12]:
#Voter or not
age = int(input('Enter your age: '))
if(age>18):
    print('You are eligible for voting')
else:
    print('You are not eligible for voting')

Enter your age: 18
You are not eligible for voting

In [13]:
#vowel or not
char=input('Enter any character:')
lowercase = int
uppercase = int
lowercase = (char =='a' or char=='e' or char=='i' or char =='o'or char =='u')
uppercase = (char =='A' or char=='E' or char=='I' or char =='O'or char =='U')

if(lowercase or uppercase):
    print(f'{char} is vowel ')
else:
    print(f'{char} is not vowel')

Enter any character:p
p is not vowel

In [14]:
# greatest among three numebr
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))

if(a>b) and (a>c):
    print('a is greater than b and c')
elif (b>a) and (b>c):
    print('b is greater than a and c')
else:
    print('c is greater number')

Enter a: 45
Enter b: 60
Enter c: 30
b is greater than a an c

# Loops

# - For loop

In [18]:
number = [1,2,3,4,5]

In [31]:
for i in number:
    print(i)

1
2
3
4
5

In [21]:
for i in number:
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [24]:
details = {'Name':'Aayush Basnet','Age':20,'Skills':['SQL','PowerBI','MS Excel','Tableau','Python']}

In [26]:
for i in details.values():
    print(i)

Aayush Basnet
20
['SQL', 'PowerBI', 'MS Excel', 'Tableau', 'Python']

In [27]:
for i,j in details.items():
    print(i,'->',j)

Name -> Aayush Basnet
Age -> 20
Skills -> ['SQL', 'PowerBI', 'MS Excel', 'Tableau', 'Python']

In [29]:
days= ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

In [30]:
for i in days:
    print(i)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [32]:
#print upto 10 times where j = 0,1,2,........
for j in range(10):
    print(j,'Aayush')

0 Aayush
1 Aayush
2 Aayush
3 Aayush
4 Aayush
5 Aayush
6 Aayush
7 Aayush
8 Aayush
9 Aayush

In [33]:
#from 20 to 30 with difference of 2
for i in range(20,30,2):
    print(i)

20
22
24
26
28

In [37]:
#nested for loop
symbol = ['A','B','C','D']
name = ['Apple','Ball','Cat','Dog']

for i in symbol:
    for j in name:
        print(i,'for',j)

A for Apple
A for Ball
A for Cat
A for Dog
B for Apple
B for Ball
B for Cat
B for Dog
C for Apple
C for Ball
C for Cat
C for Dog
D for Apple
D for Ball
D for Cat
D for Dog

# - While loop

In [4]:
i = 0
while i<10:
    print(i)
    i= i+1

0
1
2
3
4
5
6
7
8
9

In [6]:
i=0
while i<10:
    print(i)
    if i==4:
        break
    i=i+1

0
1
2
3
4

In [9]:
i=0
while i<5:
    print(i)
    if i==6:
        break
    i=i+1
else:
    print('No break in loops')

0
1
2
3
4
No break in loops

In [12]:
i=0
while i<5:
    i=i+1
    if i==4:
        continue
    print(i)
else:
    print('No break in loops')

1
2
3
5
No break in loops

# Function

In [13]:
def first_fun():
    print('Hello World')

In [15]:
first_fun()

Hello World

In [25]:
def square_number(number, power):
    print(number**power)

In [26]:
square_number(4,2)

16

In [1]:
def my_fun(arg1, arg2):
    return arg1+arg2

my_fun(4,5)

9

In [3]:
def sum_items  (x,y,z, print_arg = False):
    if print_arg:
        print(x,y,z)
    return x+y+z


sum_items(10,5,20)

35

In [4]:
sum_items(10,5,20,True)

10 5 20

35

In [32]:
tuple_arg=(3,4,5,6,5,7,8,0)

def number_argument(*number):
    print(number[1]*number[2])

In [33]:
number_argument(*tuple_arg)

20

In [5]:
def sum_many_arg(*args):
    print(type(args))
    return(sum(args))

sum_many_arg(2,3,4,1,5)

<class 'tuple'>

15

In [34]:
def power_number(number,power):
    print(number**power)

In [36]:
power_number(power= 5,number=2)

32

In [39]:
def number_kwarg(**number):
    print('My number is: '+number['integer']+'\n My another number is: '+number['integer2'])

In [40]:
number_kwarg(integer ='1111',integer2='1112')

My number is: 1111
 My another number is: 1112

In [7]:
def sum_kwarg(**kwargs):
    print(type(kwargs))
    return (sum(kwargs.values()))

sum_kwarg(mynum=100, yournum = 10)

<class 'dict'>

110

In [9]:
import numpy as np
def rmse(num1, num2):
    return (np.sqrt(np.mean((num2-num1)**2)))

rmse(4,6)

2.0

In [10]:
my_function = lambda x,y: x+y
my_function(5,4)

9

In [12]:
# Example of using map() without a lamda funciton

def square(x):
    return x**2

my_map = map(square,[1,2,3,4,5])

for item in my_map:
    print(item)

1
4
9
16
25

In [14]:
my_map= lambda x : x**2

my_map(2)

4

In [15]:
# Example of using map() with a lambda function
my_map= map(lambda x : x**2,[1,2,3,4,5])

for item in my_map:
    print(item)

1
4
9
16
25

# Converting Data Types

In [41]:
int_num = 7
type(int_num)

int

In [42]:
str_num = '4'
type(str_num)

str

In [44]:
# Converting string into integer
int_num_cov = int(str_num)
type(int_num_cov)

int

In [45]:
sum = int_num + int_num_cov
print(sum)

11

In [46]:
type(sum)

int

In [52]:
list_type = [1,2,3,4,5,63,4,5,6]
type(list_type)

list

In [48]:
tuple(list_type)
type(tuple(list_type))

tuple

In [50]:
set(list_type)
type(set(list_type))

set

In [53]:
print(set(list_type))

{1, 2, 3, 4, 5, 6, 63}

In [54]:
dict_type={'Name':'Aayush','Age':'20'}
type(dict_type)

dict

In [55]:
dict_type.items()

dict_items([('Name', 'Aayush'), ('Age', '20')])

In [56]:
dict_type.values()

dict_values(['Aayush', '20'])

In [58]:
type(list(dict_type.keys()))

list

In [59]:
long_stn='I like to read books'
set(long_stn)

{' ', 'I', 'a', 'b', 'd', 'e', 'i', 'k', 'l', 'o', 'r', 's', 't'}

In [60]:
for i,j in dict_type.items():
    print(i,'->',j)

Name -> Aayush
Age -> 20

# List Comprehensions

In [16]:
my_list = []

for number in range(0,101):
    my_list.append(number)
    
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
my_list2 = [number for number in range(0,101)]

print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [19]:
my_list3 = [number for number in range(0,101) if number%2==0]

print(my_list3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [20]:
combined = [a+b for a in 'life' for b in 'study']

print(combined)

['ls', 'lt', 'lu', 'ld', 'ly', 'is', 'it', 'iu', 'id', 'iy', 'fs', 'ft', 'fu', 'fd', 'fy', 'es', 'et', 'eu', 'ed', 'ey']

In [23]:
nested = [letters[1] for letters in [a+b for a in 'life' for b in 'study']]

print(nested)

['s', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y']

In [24]:
combined = [a+b for a in 'life' for b in 'study']

non_nested = [letters[1] for letters in combined]

print(non_nested)

['s', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y', 's', 't', 'u', 'd', 'y']

# Dictionary Comprehensions

In [27]:
words = ['life','is','beautiful']

words_length_dict={}

for word in words:
    words_length_dict[word] = len(word)
    
print(words_length_dict)

{'life': 4, 'is': 2, 'beautiful': 9}

In [29]:
words = ['life','is','beautiful']

word_length_dict = {word: len(word) for word in words}

print(word_length_dict)

{'life': 4, 'is': 2, 'beautiful': 9}

In [31]:
words = ['life','is','beautiful']
word_length= [4,2,9]
pairs = zip(words,word_length)

for item in pairs:
    print(item)

('life', 4)
('is', 2)
('beautiful', 9)

In [33]:
words = ['life','is','beautiful']
word_length= [4,2,9]

word_dict = {key:value for (key,value) in zip(words,word_length)}

print(word_dict)

{'life': 4, 'is': 2, 'beautiful': 9}